<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Điền form</title>
  </head>
  <body>
    <form method="post">
      <label> Tên: </label>
      <input type="text" name="name">

      <label> Năm sinh: </label>
      <input type="text" name="yob">

      <label> Điện thoại: </label>
      <input type="text" name="phone">

      <input type="radio" name="gender" value=1>Male
      <input type="radio" name="gender" value=0>Female

      <input type="submit" value="Thêm">

    </form>
  </body>
</html>
