<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {% for service in services %}
      <img src = {{ service.image }} >
      <h2>{{ service.name }}</h2>
      <p><b>Năm sinh:</b> {{ service.yob }}</p>
      <p>{{ "Nam" if service.gender==1 else "Nữ" }}</p>
      <p><b>Chiều cao:</b> {{ service.height }}</p>
      <p><a href="{{ url_for('detail', id_to_find = service.id )}}"> Chi tiết</a></p>
      <!-- <p><b>Mô tả:</b> {{ service.description }}</p>
      <p><b>Số đo:</b> {{ service.measurements }}</p>
      <p><b>Điện thoại:</b> {{ service.phone }}</p>
      <p><b>Địa chỉ:</b> {{ service.address }}</p>
      <p><b>Tình trạng:</b> {{ service.status }}</p> -->
    {% endfor %}
  </body>
</html>
