h1 {
  color: #db3208;
  text-align: center;
}

#hello-tag{
  color: green;
}

.text-blue {
  color: blue;
}

h2 {
  font-family: 'Coiny', cursive;
  font-size: 100px;
}

.h-500px {
  height: 500px;
}

.bg-green {
  background: green;
}

.background{
  background-image: url("https://www.walldevil.com/wallpapers/a92/beautiful-wallpapers-pcwallpapers-girlswallpapers-girls-girl-allimg-china.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.h-50px {
  height: 50px;
}

.w-200px {
  width: 200px;
}

.d-inline-block {
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.border-red {
  border: 5px solid red;
}

#box-model {
  padding: 5px 10px 15px 20px;
}

#margin-element {
  margin: 200px 50px 100px 50px;
}
