/* body {
  font-family: 'Roboto', sans-serif;
}

.inline-block {
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.vertical-align {
  vertical-align: middle;
}

.font-size {
  font-size: 20px;
}

.width1 {
  width: 500px;
}

body div {
  text-align: center;
}

.margin {
    margin-left: 20px;
 }

.margin2 {
  margin: 0px;
}

.margin3 {
  margin-left: 10px;
  /* margin-right: 10px; */
/* }

.height {
  height: 40px;
}

.font-size2 {
  font-size: 15px;
}

.line-heigt {
  line-height: 40px;
}

.border {
  border-radius: 1px solid #ccc;
  padding: 5px;
} */
