.box-green {
  border: 10px solid none;
  width: 500px;
  height: 500px;
  background-color: green;
  padding: 100px;
  box-sizing: border-box;
}

.box-green div {
  border: 1px solid none;
  width: 150px;
  height: 150px;
  background-color: red;
}
