.box-color {
  border: 10px solid none;
  width: 500px;
  height: 500px;
  background-color: rgb(29, 130, 42);
  padding: 100px;
  box-sizing: border-box;
}

.box-color div {
  border: 1px solid none;
  width: 150px;
  height: 150px;
  background-color: rgb(193, 36, 14);
}
